//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 16 09:19:41 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "an<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "led<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "an<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "an<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "led<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "an<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "led<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "an<6>" LOCATE = SITE "L1" LEVEL 1;
COMP "led<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "an<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "led<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "btnC" LOCATE = SITE "E16" LEVEL 1;
COMP "led<6>" LOCATE = SITE "U7" LEVEL 1;
COMP "btnD" LOCATE = SITE "V10" LEVEL 1;
COMP "swt<10>" LOCATE = SITE "U2" LEVEL 1;
COMP "led<7>" LOCATE = SITE "U6" LEVEL 1;
COMP "swt<11>" LOCATE = SITE "T3" LEVEL 1;
COMP "led<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "swt<12>" LOCATE = SITE "T1" LEVEL 1;
COMP "led<9>" LOCATE = SITE "U3" LEVEL 1;
COMP "swt<13>" LOCATE = SITE "R3" LEVEL 1;
COMP "btnL" LOCATE = SITE "T16" LEVEL 1;
COMP "swt<14>" LOCATE = SITE "P3" LEVEL 1;
COMP "swt<15>" LOCATE = SITE "P4" LEVEL 1;
COMP "btnR" LOCATE = SITE "R10" LEVEL 1;
COMP "btnU" LOCATE = SITE "F15" LEVEL 1;
COMP "swt<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "swt<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "swt<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "swt<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "swt<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "swt<5>" LOCATE = SITE "V7" LEVEL 1;
COMP "led<10>" LOCATE = SITE "V1" LEVEL 1;
COMP "swt<6>" LOCATE = SITE "V6" LEVEL 1;
COMP "led<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "swt<7>" LOCATE = SITE "V5" LEVEL 1;
COMP "led<12>" LOCATE = SITE "P5" LEVEL 1;
COMP "swt<8>" LOCATE = SITE "U4" LEVEL 1;
COMP "swt<9>" LOCATE = SITE "V2" LEVEL 1;
COMP "led<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "led<14>" LOCATE = SITE "R2" LEVEL 1;
COMP "led<15>" LOCATE = SITE "P2" LEVEL 1;
COMP "mclk" LOCATE = SITE "E3" LEVEL 1;
COMP "ssg<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "ssg<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "ssg<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "ssg<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "ssg<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "ssg<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "ssg<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "ssg<7>" LOCATE = SITE "M4" LEVEL 1;
SCHEMATIC END;

